<article>
  <heading>
    <h1 class="h3">Dashboard</h1>
  </heading>

  <section>
    <p>
      Welcome to the dashboard of <%= @staffer.org.title %>. 
    </p>
    <p>
      Check out sidebar for Campaigns and Settings. To enter into another org, click the Proca logo on the top left.
    </p>
  </section>
</article>
