
<section>
  <p>
    Log in to the oranisation dashboard (<%= length(@org_list) %>):
  </p>
  <ul>
  <%= for org <- @org_list do %>
    <li><a href="/?org_name=<%= org.name  %>"><%= org.title %></a></li>
  <% end %>
  </ul>
</section>
